.card-header {
    color: blue;
    font-style: italic;
    fieldset {
        border: 2px solid black;
        padding: 15px;
        text-align: right;
        display: flex;

        legend {
            display: inline-block;
            width: auto;
            margin: 5px;
            padding: 10px;
        }
        .block {
            margin: 10px;
        }
    }
}

.list-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__content {
        margin-bottom: 15px;
        display: flex;
        font-size: large;
        flex-direction: column;
        small {
            color: gray;
            font-style: italic;
        }
        input {
            margin-bottom: 15px;
        }
    }
    &__buttons {
        display: flex;
    }
    .btn {
        margin-right: 10px;
    }
}
